* {
  box-sizing: border-box;
}

body {
  background: #b8b5b0;
}

img{
  height: 200px;
}
@media all and (min-width: 1200px) {
  .home {
    background: lightgreen;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .homer {
    background: lightgreen;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .sfondo-center {
    height: 360px;
    background: cyan;
  }
  .sfondo-sx {
    height: 360px;
    background: cyan;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .sfondo-dx {
    height: 360px;
    background: cyan;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}
@media all and (min-width: 769px) and (max-width: 1199px) {
  .home {
    background: yellow;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .homer {
    background: yellow;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .sfondo-center {
    height: 360px;
    background: orange;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .sfondo-sx {
    height: 360px;
    background: orange;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .sfondo-dx {
    height: 360px;
    background: orange;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}
